<div class="mt-md-5 mt-3">
  <div id="home" class="container-xl">
    <div class="ms-xl-4">
      <div class="row m-0">
        <div class="col-12 mb-2 mb-xl-0 col-lg-5 d-flex justify-content-center flex-column align-items-start">
          <h2 class="fw-bold">Creeaza un model unic, perfect pentru locuinta ta!</h2>
          <p style="font-size: 20px" class="text-muted">
            Sunt Dan Grama, expert in constructii cu peste <b>18 ani de experienta</b>. Impreuna putem transforma viziunea ta
            in realitate, cu un focus pe <b>calitate</b>, <b>atentie la detalii</b> si <b>profesionalism</b>. Fiecare
            proiect este o
            oportunitate de a aduce excelenta in casa ta. <b>Hai sa cream impreuna un spatiu unic!</b></p>
          <button (click)="scrollToSection('contact')" class="btn btn-primary">Contacteaza-ma acum!</button>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center">
          <div class="d-flex justify-content-center position-relative">
            <img ngSrc="assets/home-pg-figure.png" priority class="mt-5 img-fluid" alt="home-pg-figure" height="440" width="453">
            <img class="position-absolute rounded-2" priority ngSrc="assets/img/profil_blure.jpg" alt="home-pg-figure" height="472" width="354">
          </div>
        </div>
        <div *ngIf="!isAtBottom" class="col-12 fixed-bottom pb-5">
          <div class="d-flex justify-content-center">
            <img class="bounce-bottom shadow-lg bg-white rounded-pill p-2" priority ngSrc="assets/icons8-scroll.png" alt="home-pg-figure" height="50" width="50">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about-us" class="pt-4 mt-5 custom-pattern">
    <div class="mx-2 pt-3">
      <div class="d-flex align-items-center flex-column pb-5 pt-5">
        <h3 class="fw-bold">Despre mine si cele <span style="font-size: 28px; color:var(--primary-color)">3 puncte forte</span></h3>
        <p><span>1. Angajament si Integritate</span> Respect termenele si bugetele stabilite, asigurandu-ma ca fiecare proiect este finalizat la standarde inalte.</p>
        <div class="mt-4 d-flex justify-content-center">
          <div class="rounded-2 col-3">
            <img class="element-to-track elm-track-viz rounded-2 img-fluid" ngSrc="assets/img/1st_box_edited.png" alt="home-pg-figure" priority height="640" width="374">
          </div>
          <div class="d-flex position-relative col-8 element-to-track-in elm-track-viz align-items-end justify-content-end">
            <img priority class="ms-5 img-fluid rounded-2 shadow" ngSrc="assets/poza1prog.jpg" alt="about-us-figure" height="480" width="960">
            <p class="position-absolute text-white mb-3 me-2" style="font-size: 18px">Progres 10%</p>
            <mat-progress-bar class="position-absolute w-25 mb-2 me-2" mode="determinate" value="10"></mat-progress-bar>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-3 pb-3">
    <div class="d-flex justify-content-center mt-4 mb-5">
      <div class="d-flex flex-column align-items-center">
        <div class="row m-0 p-0 px-2">
          <div class="d-flex col-8 p-0 position-relative flex-column justify-content-end align-items-start">
            <div>
              <p class=""><span>3. Inovatie si Adaptabilitate</span> Sunt mereu la curent cu cele mai noi tendinte si tehnologii din domeniul constructiilor, oferind solutii inovatoare pentru fiecare proiect.</p>
            </div>
            <img class="img-fluid rounded-2 shadow elm-track-viz element-to-track" ngSrc="assets/poza2prog.jpg" alt="about-us-figure" height="400" width="640">
            <p class="position-absolute mb-3 text-white ms-2 elm-track-viz element-to-track" style="font-size: 18px">Progres 50%</p>
            <mat-progress-bar class="position-absolute w-25 mb-2 ms-2 elm-track-viz element-to-track" mode="determinate" value="50"></mat-progress-bar>
          </div>
          <div class="col-4 element-to-track-in d-flex elm-track-viz align-items-end m-0 p-0">
            <img class="rounded-2 img-fluid" ngSrc="assets/img/2nd_edited.png" alt="about-us-figure" height="640" width="360">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us-gradient pt-5 mb-4 mb-sm-5 pb-sm-5">
    <div class="container-xl mt-3 pb-5">
      <div class="position-relative justify-content-center d-flex">
        <div class="position-absolute">
          <img class="w-100 img-fluid rounded-2" ngSrc="assets/about-us-3.png" priority height="774" width="833" alt="">
        </div>
        <div>
          <div class="row m-0 p-0">
            <div class="col-3 about-us-3 element-to-track-in elm-track-viz">
              <img class="img-fluid rounded-2" ngSrc="assets/img/3rd_edited.png" alt="about-us-figure" height="640" width="215">
            </div>
            <div class="col-9 d-flex elm-track-viz element-to-track flex-column justify-content-end align-items-start">
              <div class="d-flex align-items-start">
                <p><span>2. Experienta isi spune cuvantul. </span> Detin un portofoliu diversificat si multi clienti multumiti.</p>
              </div>
              <div class="position-relative d-flex flex-column justify-content-end align-items-end">
                <img class="img-fluid shadow rounded-2" ngSrc="assets/poza3prog.jpg" alt="about-us-figure" width="840" height="525">
                <p class="position-absolute d-flex mb-3 me-2" style="font-size: 18px">Finalizat <mat-icon class="primary-color ms-2">flag</mat-icon></p>
                <mat-progress-bar class="position-absolute w-50 mb-2 me-2" mode="determinate" value="100"></mat-progress-bar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="services">
    <div class="container-xl pt-3 pt-sm-5">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <h3 class="fw-bold pb-2">Serviciile mele</h3>
        <p class="text-center">
          Transform spatiul tau in locul la care ai visat intotdeauna. Indiferent de dimensiunea sau stilul proiectului
          tau, ofer solutii personalizate care imbina estetica cu functionalitatea. Fie ca doresti un design modern,
          clasic sau industrial, sunt aici sa-ti aduc viziunea la viata.
        </p>
      </div>
      <div class="mt-2 pt-5 d-flex justify-content-center flex-column">
        <div class="row">
          <div *ngFor="let service; of services" class="col-12 col-xl-4 elm-track-viz elm-track-puff-in-center d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <img ngSrc="{{service.image}}" class="rounded-2" width="262" height="299" alt="">
              <h4 class="fw-medium mt-3">{{ service.name }}</h4>
              <p class="w-75 text-muted text-center">{{ service.description }}</p>
              <h4 class="fw-medium text-center primary-color mt-3">Pret: {{ service.price }} RON</h4>
            </div>
          </div>
        </div>
        <h5 routerLink="/services" class="pt-5 btn btn secondary-color fw-bold btn-link">Vezi toate serviciile</h5>
      </div>
    </div>
  </div>
  <div class="mt-3 pt-1 pb-4 custom-pattern">
    <div class="container-xl mt-5">
      <div class="d-flex  flex-column align-items-center justify-content-center">
        <h3 class="fw-bold pb-2">Lucrari finalizate cu success</h3>
        <p class="text-center">Fie ca este vorba de o locuinta veche care necesita o actualizare sau de un spatiu
          comercial care are nevoie de o schimbare radicala, sunt pregatit sa ma ocup de toate aspectele renovarii. De
          la demolare pana la finisaje finale, ma asigur ca executia este impecabila si ca respect termenele
          stabilite.</p>
      </div>
      <div class="d-flex flex-column align-items-center">
        <div class="row gx-3 mt-3">
          <div class="col-xl-3 col-12 col-sm-6 col-md-4" [ngClass]="{'mt-sm-4': i%2 != 0}" *ngFor="let i of [0,1,2,3]">
            <div class="mb-3 elm-track-viz elm-track-puff-in-center shadow-sm rounded-2" *ngFor="let j; let idx=index of colNo">
              <img [src]="images[i+idx*4].path" class="img-fluid w-100 rounded-2" alt="image"/>
            </div>
          </div>
        </div>
        <h5 routerLink="/gallery" class="pt-3 btn btn secondary-color fw-bold btn-link">Incarca mai multe imagini</h5>
      </div>
    </div>
  </div>
</div>
