/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*mat-icon{*/
/*  padding-right: 8px;*/
/*}*/

/*body{*/
/*  background-color: #283964;*/
/*}*/

:root{
  --primary-color: #04009A;
  --secondary-color: #77ACF1;
}

.primary-bg{
  background-color: var(--primary-color);
}
.primary-color{
  color: var(--primary-color);
}
.secondary-color{
  color: var(--secondary-color);
}
.secondary-bg{
  background-color: var(--secondary-color);
}
