<div id="carouselExampleIndicators" class="carousel fade-in slide shadow-sm" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img src="../assets/pereti_noi.jpg " class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/tavan1.jpg" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="../assets/tavan_nou2.jpg" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-xl pb-5">
  <p class="h4 text-dark border-secondary pt-4 pb-2 mb-2 border-bottom">Lucrari finalizate cu success</p>
  <div class="row gx-3 mt-5">
    <div class="col-xl-3 col-12 col-sm-6 col-md-4" [ngClass]="{'mt-sm-4': i%2 != 0}" *ngFor="let i of [0,1,2,3]">
      <div class="mb-3 elm-track-viz elm-track-puff-in-center shadow-sm rounded-2" *ngFor="let j; let idx=index of colNo">
        <img [src]="images[i+idx*4].path" class="img-fluid w-100 rounded-2" alt="image"/>
      </div>
    </div>
  </div>

</div>
