<div class="container-xl mb-5">
  <div class="d-flex justify-content-center align-items-center">
    <h3 class=" order-bottom text-center text-dark pb-2 px-3 pt-5">Serviciile prestate</h3>
  </div>
  <div class="mt-2 pt-5 d-flex justify-content-center flex-column">
    <div class="row">
      <div *ngFor="let service; of services"
           class="col-12 col-xl-4 mb-5 puff-in-center d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img ngSrc="{{service.image}}" priority class="rounded-2" width="262" height="299" [alt]="service.name">
          <h4 class="fw-medium mt-3">{{ service.name }}</h4>
          <p class="w-75 text-muted h-100 text-center">{{ service.description }}</p>
          <h4 class="fw-medium text-center primary-color mt-3">Pret: {{ service.price }} RON</h4>
        </div>
      </div>
    </div>
  </div>
</div>
