<div class="footer-container">
  <div class="container-xl py-4">
    <div class="row">
      <div class="col-12 col-xl-4">
        <img ngSrc="assets/logo-footer.png" height="112" width="154" alt="">
        <p style="font-size: 12px" class="m-0 mt-4 secondary-color d-flex align-items-center">
          <mat-icon style="font-size: 18px" class="me-1"> location_on</mat-icon>
          Strada principala 27, Utvin, Romania
        </p>
        <p style="font-size: 12px" class="m-0 secondary-color d-flex align-items-center">
          <mat-icon style="font-size: 18px" class="me-1"> phone</mat-icon>
          +40 761634534
        </p>
        <p style="font-size: 12px" class="m-0 secondary-color d-flex align-items-center">
          <mat-icon style="font-size: 18px" class="me-1"> email</mat-icon>
          contact&#64;gramdesign.com
        </p>
      </div>
      <div class="col-12 col-xl-4">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="../first-page">About us</a>
          </li>
          <li>
            <a href="../first-page">Gallery</a>
          </li>
          <li>
            <a href="../first-page">Services</a>
          </li>
          <li>
            <a href="../first-page">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-xl-4">
        <h5 class="text-uppercase">Social</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/">
              <i class="bi secondary-color bi-facebook"></i>
            </a>
            Facebook
          </li>
          <li>
            <a href="https://www.instagram.com/">
              <i class="bi secondary-color bi-instagram"></i>
            </a>
            Instagram
          </li>
          <li class="secondary-color">
            <a href="https://www.linkedin.com/">
              <i class="bi secondary-color bi-linkedin"></i>
            </a>
            LinkedIn
          </li>
          <li class="secondary-color">
            <a href="https://www.twitter.com/">
              <i class="bi secondary-color bi-twitter"></i>

            </a>
            Twitter
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-xl d-flex justify-content-center align-items-center py-2">
  <p class="text-muted m-0">© 2024 Gram Design. Toate drepturile sunt rezervate.</p>
</div>
