a {
  color: var(--primary-color);
  border-bottom: 1px solid white;
}
a:hover {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.active {
  color: var(--secondary-color)!important;
  border-bottom: 1px solid var(--secondary-color);
}

form {
  width: 200px;
}
select{
  color: var(--primary-color);
  border: rgba(4, 0, 154, 0.34) solid 1px;
}

button{
  color: var(--primary-color);
}


li {
  cursor: pointer;
}
