<mat-toolbar>
  <img src="assets/logo.png" alt="logo-image">
  <select (change)="changeLanguage($event)">
    <option value="en" [selected]="currentLanguage === 'en'">ENGLISH</option>
    <option value="ro" [selected]="currentLanguage === 'ro'">ROMÂNǍ</option>
  </select>
  <button mat-icon-button routerLink="../first-page">
    <mat-icon>home</mat-icon>{{'Home' | translate}}
  </button>
  <button mat-icon-button routerLink="../first-page">
    <mat-icon>volume_up</mat-icon>{{'About us' | translate}}
  </button>
  <button mat-icon-button routerLink="../first-page">
    <mat-icon> contact_phone</mat-icon>Contact
  </button>
  <button mat-icon-button routerLink="../first-page">
    <mat-icon>photo_library</mat-icon>{{'Gallery' | translate }}
  </button>
  <button mat-icon-button routerLink="../first-page">
    <mat-icon>architecture</mat-icon>{{'Services' | translate }}
</button>
  <button mat-icon-button routerLink="../first-page">
    <mat-icon>event</mat-icon>{{'Make an Appointment' | translate}}
  </button>
</mat-toolbar>
