a {
  color: #04009A;
  border-bottom: 1px solid white;
}
<<<<<<< Updated upstream
=======

a:hover {
  color: #77ACF1;
  border-bottom: 1px solid #77ACF1;
}

nav-bar {
  background-color: #3498db;
}

>>>>>>> Stashed changes
