<div class="sticky-top bg-white">
  <div class="container-xl">
    <nav class="navbar navbar-expand-xxl navbar-light">
      <div class="container-fluid">
        <a href="/" style="border-bottom-color: #FFFFFF" class="navbar-brand">
          <img style="cursor: pointer" priority ngSrc="assets/logo.png" alt="logo" width="154" height="112">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0 d-flex justify-content-start w-75">
            <li (click)="scrollToSection('home')" class="nav-item ms-3 ms-xl-5">
              <a class="nav-link d-flex align-items-center">
                <i class="material-icons me-1">home</i> <span>{{ 'Home' | translate }}</span>
              </a>
            </li>
            <li (click)="scrollToSection('about-us')" class="nav-item mx-3">
              <a class="nav-link d-flex align-items-center">
                <i  class="material-icons me-1">volume_up</i> <span>{{ 'About us' | translate }}</span>
              </a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link d-flex align-items-center" routerLinkActive="active" routerLink="/gallery">
                <i class="material-icons me-1">photo_library</i>
                <span>{{ 'Gallery' | translate }}</span>
              </a>
            </li>
            <li (click)="scrollToSection('services')"  class="nav-item mx-3">
              <a class="nav-link d-flex align-items-center">
                <i class="material-icons me-1">architecture</i>
                <span>{{ 'Services' | translate }}</span>
              </a>
            </li>
            <li (click)="scrollToSection('contact')"  class="nav-item mx-3">
              <a class="nav-link d-flex align-items-center">
                <i class="material-icons me-1">contact_phone</i> <span>Contact</span>
              </a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <button class="btn btn-outline-primary me-3" type="button">{{ 'Contact us' | translate }}</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
